<div class="hire_wrapper">
    <p class="hire_title">If you want to hire me, just contact me with form bellow</p>
    <form action="" class="hire_form">
        <input type="text" class="hire_name" placeholder="Your name">
        <input type="text" class="hire_mail" placeholder="Your mail">
        <input type="text" class="hire_phone" placeholder="Your phone">
        <textarea cols="30" rows="10" class="hire_massage" placeholder="Type your massage here"></textarea>
    </form>
    <button class="hire_btn">Send</button>
</div>