<div class="hire_wrapper">
    <p class="hire_title">If you want to hire me, just contact me with form bellow</p>
    <form class="hire_form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input type="text" class="hire_name" placeholder="Your name" formControlName="name">
        <input type="text" class="hire_mail" placeholder="Your mail" formControlName="email">
        <input type="text" class="hire_phone" placeholder="Your phone" formControlName="phone">
        <textarea cols="30" rows="10" class="hire_massage" placeholder="Type your massage here" formControlName="massage"></textarea>
        <button class="hire_btn" type="submit">Send</button>
    </form>
</div>