<p class="about">
    Almost a year ago I decided to try web development and I really enjoyed it. I have completed several courses Front-End in SkillUp and JS Trining center in TechMagic.
</p>
<h2 class="skill-title">Here is some of my skills</h2>
<div class="content_skills">
    <div class="skill">Markup & styles
        <ul class="skill_list">
            <li class="skill_item">
                <div class="skill_name">HTML5</div>
                <div class="skill_level_wrapper">
                    <div class="html_level"></div>
                </div>
                <p class="skill_level_percent">90%</p>
            </li>
            <li class="skill_item">
                <div class="skill_name">CSS3</div>
                <div class="skill_level_wrapper">
                    <div class="css_level"></div>
                </div>
                <p class="skill_level_percent">80%</p>
            </li>
            <li class="skill_item">
                <div class="skill_name">SCSS</div>
                <div class="skill_level_wrapper">
                    <div class="scss_level"></div>
                </div>
                <p class="skill_level_percent">80%</p>
            </li>
        </ul>
    </div>
    <div class="skill">Programing
        <ul class="skill_list">
            <li class="skill_item">
                <div class="skill_name">ES5</div>
                <div class="skill_level_wrapper">
                    <div class="es5_level"></div>
                </div>
                <p class="skill_level_percent">70%</p>
            </li>
            <li class="skill_item">
                <div class="skill_name">ES6</div>
                <div class="skill_level_wrapper">
                    <div class="es6_level"></div>
                </div>
                <p class="skill_level_percent">60%</p>
            </li>
        </ul>
    </div>
    <div class="skill">Frameworks
        <ul class="skill_list">
            <li class="skill_item">
                <div class="skill_name">Angular8</div>
                <div class="skill_level_wrapper">
                    <div class="angular_level"></div>
                </div>
                <p class="skill_level_percent">40%</p>
            </li>
            <li class="skill_item">
                <div class="skill_name">Node.js</div>
                <div class="skill_level_wrapper">
                    <div class="node_level"></div>
                </div>
                <p class="skill_level_percent">40%</p>
            </li>
        </ul>
    </div>
    <div class="skill">Data base
        <ul class="skill_list">
            <li class="skill_item">
                <div class="skill_name">MongoDB</div>
                <div class="skill_level_wrapper">
                    <div class="mongo_level"></div>
                </div>
                <p class="skill_level_percent">60%</p>
            </li>
            <li class="skill_item">
                <div class="skill_name">Firebase</div>
                <div class="skill_level_wrapper">
                    <div class="firebase_level"></div>
                </div>
                <p class="skill_level_percent">50%</p>
            </li>
        </ul>
    </div>
    <div class="skill">Another
        <ul class="skill_list">
            <li class="skill_item">
                <div class="skill_name">GIT</div>
                <div class="skill_level_wrapper">
                    <div class="git_level"></div>
                </div>
                <p class="skill_level_percent">60%</p>
            </li>
        </ul>
    </div>
</div>
<p class="about">
    If you wont to work with me - <a class="links" routerLink='/hire' (click)="setHire()">Hire me!</a>
</p>