.main {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.background {
    position: absolute;
    width: 110%;
    height: 110%;
    left: -10%;
    top: -10%;
    background-image: url(../assets/images/space.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
}

.wrapper {
    margin: 0;
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 5vw;
        margin: 2vw 0 0 2vw;
        .logo_img {
            width: 100%;
        }
    }
}

.header_hire {
    width: 120px;
    height: 30px;
    border: none;
    text-transform: uppercase;
    background-color: #73c246;
    font-weight: bold;
    color: white;
}

.navigation {
    position: relative;
    .button {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: 2vw;
        .line {
            height: 5px;
            width: 100%;
            background-color: white;
        }
    }
    .nav_wrapper {
        position: absolute;
        right: 0;
        z-index: 100;
        padding: 20px 40px;
        background-color: rgba(0, 0, 0, .8);
        box-shadow: 0 0 20px #000;
        .nav_container {
            color: white;
            text-transform: uppercase;
            .nav_item {
                font-size: 30px;
                list-style: none;
                margin: 10px 0;
                font-weight: bold;
            }
            .nav_item:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

main {
    display: flex;
}

.line_nav {
    background-color: #1b1b1b;
    width: 2px;
    height: 70vh;
    margin: 5vh 0 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line_item {
    position: relative;
    display: flex;
    align-items: center;
    .line_dot {
        width: 4px;
        height: 4px;
        position: absolute;
        left: -1px;
        bottom: 0;
        background-color: #454242;
    }
    a {
        text-decoration: none;
    }
    .active {
        .line_dot {
            background-color: #f3f3f3;
        }
        p {
            color: #f3f3f3;
        }
    }
    p {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        color: #454242;
        margin: 0 0 -4px 10px;
    }
}

.page_wrapper {
    width: 100%;
    margin: 5vh 2vw 0 7%;
}