<h2 class="my_work">
    My works
</h2>
<div class="carousel_wrapper">
    <div class="left_btn" (click)="left()"></div>
    <div class="carousel_container">
        <div *ngFor="let img of currentImg" class="{{img.class}}">
            <a href="{{img.link}}" class="carousel_item_link">
                <img src="{{img.path}}" alt="" class="carousel_item_img">
                <div class="title_item_wrapper">
                    <h2 class="item_title">{{img.title}}</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="right_btn" (click)="right()"></div>
</div>